<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="boxes">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>{{ 'tabs.boxes' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pending">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>{{ 'tabs.pending' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>{{ 'tabs.search' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
